@(form: Form[User])


@main() {

    <div class="row col-sm-offset-2" style="margin-bottom: 20px">
        <h2>Sign up</h2>
    </div>

    <div ng-controller="GenericFormCtrl">
        <form action="@routes.Application.signup()" method="POST" class="form-horizontal" role="form" name="signupForm">

            @if(form.hasGlobalErrors) {
                <div class="col-sm-2 col-sm-offset-2 alert alert-danger">
                    <p>@form.globalError.message</p>
                </div>
            }

            @helper.CSRF.formField

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email*</label>
                <div class="col-sm-6">
                    <input type="email" name="email" class="form-control" placeholder="Email"
                    ng-model="signup.email" required>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name*</label>
                <div class="col-sm-6">
                    <input type="text" name="firstName" class="form-control" placeholder="First name"
                    ng-model="signup.firstName" ng-minlength="3" required>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" name="lastName" class="form-control" placeholder="Last name" ng-model="signup.lastName">
                </div>
            </div>

            <div class="form-group">
                <label for="password1" class="col-sm-2 control-label">Password*</label>
                <div class="col-sm-6">
                    <input type="password" id="pw-check" name="password" class="form-control" placeholder="Password"
                    ng-model="signup.password1" ng-minlength="6" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password2" class="col-sm-2 control-label">Repeat it*</label>
                <div class="col-sm-6">
                    <input type="password" name="password2" class="form-control" placeholder="Repeat password"
                    ng-minlength="6" pw-check="pw-check" ng-model="signup.password2" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button type="submit" class="btn btn-default"
                            ng-disabled="signupForm.$invalid">Sign up</button>
                </div>
            </div>
        </form>
    </div>
}