<div class="modal-header">
    <h3>
        Your cart
        <span ng-switch="cart.length">
            <span ng-switch-when="0"> is empty</span>
            <span ng-switch-when="1"> contains {{ cart.length }} item</span>
            <span ng-switch-default> contains {{ cart.length }} items</span>
        </span>
    </h3>
</div>
<div class="modal-body">
    <div ng-if="cart.length > 0" class="alert alert-info">
        <span>Click on a field to edit it.</span>
    </div>

    <div ng-show="errors" class="alert alert-danger">
        <p ng-repeat="(field, error) in errors">{{ field }}: {{ error[0] }}</p>
    </div>

    <ul class="media-list">
        <li class="media list-unstyled" ng-repeat="cartItem in cart">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/g/64/64" alt="PLACEKITTEN COMES!">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a>{{ cartItem.product.name }}</a><small> {{ cartItem.product.price | currency }}</small></h4>
                <p>{{ cartItem.product.description }}</p>
                <label class="col-md-1">Qty</label>
                <div class="col-md-4">
                    <input ng-show="editable.id === cartItem.id" type="number" lowest-number="1" class="form-control input-sm" ng-model="editable.quantity" required>
                    <span ng-show="editable.id !== cartItem.id" ng-click="openForEdit($index)" class="form-control">{{ cartItem.quantity }}</span>
                </div>
                <div ng-show="editable.id === cartItem.id" class="col-md-3">
                    <button class="form-control btn btn-success" ng-click="update()">Update</button>
                </div>
                <div class="col-md-3">
                    <button class="form-control btn btn-danger" ng-click="remove($index)">Remove</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" href="/checkout">Checkout</a>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>