<div class="row col-md-12">
<h5>Make a new dude</h5>
<form ng-submit="processForm()">
    <input type="text" name="name" ng-model="newDude.name">
    <input type="submit" class="btn btn-sm">
</form>
</div>

<div class="row col-md-12">
    <input type="text" ng-model="nameFilter">
    <button class="btn btn-default btn-xs" ng-click="toggleReversed()">Sort</button>
</div>

<div class="row">
    <div class="col-md-2">
        <h5>Current dudes:</h5>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="dude in dudes | filter: nameFilter | orderBy: 'name':reversed" ng-class="{active: dude.selected}">
                <a
                   ng-click="selectDude(dude)"
                   ng-href="/#/dude/{{ dude.id }}">{{ dude.name }} - {{ dude.id }}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-md-offset-2" ui-view></div>
</div>